include pyproject.toml
include setup.py
include README.md
exclude MANIFEST.in

include src/klotski/*.py

include CMakeLists.txt
include src/CMakeLists.txt
include src/core_ffi/CMakeLists.txt

recursive-include src/core *
recursive-include src/core_ffi/python_ffi *
recursive-exclude src/core_ffi/python_ffi/packing *

include third_party/ThirdParty.cmake
recursive-include third_party/pybind11 *
recursive-include third_party/parallel-hashmap *
